body {
    font-family: "Arial", sans-serif
}






/* Type Selector */
/* 
h2 {
    color:red;
    font-size: 30px;
}

a {
    color: blue;
    text-decoration:none  
} */

/*Class Selectors*/
.sporty {
    color: red;

}

.casual {
    color:blue
}


.formal {
    color: brown;
}

/* ID Selectors */

#container {
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
}

/* Multiple Styles */
/* .sporty, 
.casual {
    font-size: 40px;
} */

/* Descedant Styles */
/* This is how you can zoon in on this you want to style */
/*This is more specific of what you want to style */

/* #container p {
    background: blue; 

} */