body{
    font-family: "Poppins", "San-sherif";
    line-height: 1.6; 
    
}

a{
    text-decoration: none;
}

h2{
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    font-variant: normal; 
    
    text-transform: capitalize;
    text-indent: 0px;
    letter-spacing: 2px;

    word-spacing: 0px;
    text-align: left;



/* font is a shorthand property that sets multiple font 
properties in one declaration. */
/* The font shorthand property combines multiple font properties in one declaration.
Order: 
style → variant → weight → size → line-height → family. */

   /* font: italic small-caps 700 20px Arial; */


}